.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: rgb(233, 56, 127);
  padding: 50px;
  min-height: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgb(243, 243, 243)
    ),
    url("/images/backdrop.webp");
  background-size: cover;
  margin-bottom: -100px;
}

.header h1 {
  font-size: 100px;
}

.headerGoBack {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: rgb(200, 200, 200);
  border-radius: 500px;
  width: 50px;
  height: 50px;
  color: rgb(67, 67, 67);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  flex-grow: 1;
}

.filterSection {
  display: flex;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
}

@media (min-width: 700px) {
  .filterSection {
    flex-direction: row;
  }
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.actionButtons a {
  border: none;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 100px;
  white-space: nowrap;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.actionButtons select {
  border: none;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 100px;
  white-space: nowrap;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.formInput {
  display: flex;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  border-radius: 100px;
  background-color: white;
}

.formInput input {
  width: 100%;
  border-radius: 100px;
  border: none;
  padding-left: 20px;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: 0;
  transition: background 400ms;
}

.formInput button {
  border-radius: 100px;
  background: rgb(37, 39, 199);
  background: linear-gradient(
    90deg,
    rgb(185, 0, 123) 0%,
    rgb(255, 0, 132) 47%,
    rgb(245, 22, 22) 100%
  );
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  width: 130px;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(248, 248, 248, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

body {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.listBox {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

#noItemsFound {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#noItemsFound p {
  font-style: italic;
  color: rgb(82, 81, 81);
}

@media (min-width: 600px) {
  .listBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .listBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

.productBox {
  background-color: white;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(35, 35, 35);
  text-decoration: none;
}

.productBox button {
  border: none;
  background: transparent;
}

.productInfoBox {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.productTextBox {
  display: flex;
  flex-direction: column;
}

.productBox i {
  color: rgb(29, 39, 61);
}

a {
  text-decoration: none;
}

.productDetailBox {
  display: flex;
  max-width: 900px;
  margin: 20px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
}

@media (min-width: 600px) {
  .productDetailBox {
    flex-direction: row;
  }
}

.productDetailBox img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.productDetailInfo {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.productDetailText {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  gap: 10px;
}

.productDetailActions {
  display: flex;
  align-items: center;
  padding: 20px;
}

.productDetailActions button {
  border: none;
  background-color: rgb(236, 236, 236);
  height: fit-content;
  box-shadow: none;
  border-radius: 100px;
  white-space: nowrap;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(113, 113, 113);
}

.productDetailActions p {
  margin: 0px 10px;
}

.basketBox {
  display: flex;
  max-width: 900px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
}

.basketItemsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basketItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
}

.basketItemInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.basketItem img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.basketItemActions {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.basketItemActions button {
  border: none;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  box-shadow: none;
  border-radius: 100px;
  white-space: nowrap;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(113, 113, 113);
}

.basketItemActions p {
  margin: 0px 10px;
}

.basketTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  margin-top: 20px;
  gap: 30px;
  color: rgb(48, 47, 47);
}

.basketTotal button {
  border-radius: 100px;
  background: rgb(37, 39, 199);
  background: linear-gradient(
    90deg,
    rgb(185, 0, 123) 0%,
    rgb(255, 0, 132) 47%,
    rgb(245, 22, 22) 100%
  );
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  width: 130px;
}
